<section class="header">
<h1 class="main-header">The metal men are dutifully employed by our Supreme Overlord</h1>
</section>

<div class="robot-all">
  {{#each robots}}
  {{#if job}}
      <div class="robot-profile">
        <img class="main-image" src="{{avatar}}" alt="">
        <a class="name-link" href="/profile/{{name}}">{{name}}</a>
        <p class="robot-text">{{job}}, {{company}}</p>
      </div>
  {{/if}}
  {{/each}}
</div>
